//TYPOGRAPHY

$font-h1-title: 3rem;
$font-h1: 2.5rem;
$font-h2: 2rem;
$font-h3: 1.7rem;
$font-p-lg: 1.5rem;
$font-p: 1.3rem;
$font-sm: 1.15rem;

//COLORS
$primary-color: #203473;
$secondary-color: #64e7c3;

$color-danger: #f44538;

$color-black: #000;
$color-white: #fff;

$underline: #d8d7d6;
$underline-light: #ebeaeb;

$color-text-dark: #444443;
$color-text-light: #6f7072;

// ANIMATIONS
// $transition-fast: 0.2s;
